

/* =================  Cart ================= */
.cart-container {
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.cart-items {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}


.cart-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.item-details h3 {
    margin-bottom: 5px;
    color: #333;
}

.item-details p {
    margin-bottom: 10px;
    color: #555;
}

.item-details strong {
    color: #333;
}